# Directory-based project format:
.idea/

# File-based project format:
*.iml
*.ipr
*.iws

# web application files
/web-app/WEB-INF/classes

# project release file
/*.war

# plugin release files
/*.zip
/*.zip.sha1
/plugin.xml

# older plugin install locations
/plugins
/web-app/plugins

# "temporary" build files
/target
